$primary-white: #fff;
$primary-grey: #545862;
$secondary-grey: rgba(220, 220, 220, 0.678);
$primary-blue: #2e8ae6;

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 2rem;
  font-family: system-ui, BlinkMacSystemFont, 'Segoe UI';
  background-color: $primary-blue;
  display: flex;
  justify-content: center;
}

.main {
  display: flex;
  flex-direction: column;
  margin-top: 5rem;
  background-color: $primary-white;
  box-shadow: 1px 18px 13px 1px rgba(0, 0, 0, 0.3);
}

.list {
  list-style: none;
}

.list__item {
  display: flex;
  justify-content: space-between;
}

.main__input {
  font-style: italic;
  border: none;
}

.main__elements {
  border-bottom: 1px solid rgba(0, 0, 0, 0.511);
  padding: 10px 1rem;
  font-weight: 100;
}

.main__h2 {
  color: $primary-grey;
  text-align: center;
}

.main__anchor {
  text-align: center;
  text-decoration: none;
  padding: 2rem;
  color: #545862;
}

.main__anchor:hover {
  color: black;
  text-decoration: underline;
}

.main__input-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.main__button,
.remove-button {
  background-color: $primary-blue;
  color: $primary-white;
  border: none;
  padding: 1rem;
  font-size: 1.5rem;
  margin: 0.2rem;
  cursor: pointer;
}

.completed {
  text-decoration: line-through;
}

.list__item-description {
  padding: 0 10px;
  width: 60%;
  line-height: 3.7rem;
}

.list__item-description:hover,
.list__item-description:focus {
  background-color: $secondary-grey;
}

.drag {
  display: flex;
  align-items: center;
  cursor: grab;
}

@media (min-width: 768px) {
  .main {
    width: 50%;
  }
}
